html {
  background: url(/gfx/bg.gif);
}

body {
  padding: 10px;
  width: 800px;
  margin: 0 auto;
}

#map {
  width: 800px;
  height: 400px;
}

#map-form {
}


input.geo-address {
  display: block;
  width: 778px;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 138.5%;
}

ul.form {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.form li {
  padding: 0 0 10px 0;
  display: block;
}

#popup_GroupDiv {
  background-color: #424242;
  color: #ccc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#popup_contentDiv {
  font-size: 85%;
  letter-spacing: 2px;
}

#popup_GroupDiv ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#popup_GroupDiv li {
  padding: 5px;
}

.olPopupCloseBox { 
  background: url(/gfx/close.png);
}

.underline {
  border-bottom: 1px solid #555;
}
/* helpers */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
